PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5435/chatabravely?schema=public"

EVOLUTION_API_URL="http://localhost:8080"
EVOLUTION_API_KEY="EvolutionApiKey123!"

OPENAI_API_KEY=""
OPENROUTER_API_KEY=""
